doctype html
html
	head
		title {% block title %}{{ subject }}{% endblock %}
		style.
			html, body {
				background-color: white;
				color: black;
				font-family: 'Roboto', 'Noto Sans', sans-serif;
				font-size: 10pt;
			}

			body {
				max-width: 100%;
				width: 60ex;
				margin-right: auto;
				padding: 0.5em 1em;
			}

			p {
				line-height: 150%;
				text-align: justify;
			}
			p.closing {
				margin-top: 3.5em;
			}

			a.button {
				background-color: #44f;
				color: white;
				text-shadow: 2px 2px 3px #333;

				display: block;
				text-align: center;
				border: 3px solid #00d;
				padding: 1em;
				border-radius: 1em;
				box-shadow: 5px 5px 5px #ddd;
			}
			img#blender {
				height: 3em;
				width: auto;
				margin-right: 0;
				margin-top: -0.5em;
				margin-bottom: -0.2em;
				vertical-align: middle;
			}

			section.about {
				margin-top: 2em;
				color: #888;
			}
	body
		| {% block body %}{% endblock %}
