| {% load static %}
| {% load flatpages %}
doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title {% block page_title %}Home{% endblock %} - Blender ID - blender.org
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="The Blender ID is a unified login system for all services around Blender.")
		meta(name="author", content="Blender Foundation")

		link(href="{% static 'assets/css/main.css' %}", rel='stylesheet')

		link(rel="shortcut icon", href="{% static 'assets_shared/images/favicon.ico' %}")

		| {% if settings.GOOGLE_ANALYTICS_TRACKING_ID %}
		script(async, src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}');
		| {% endif %}

		| {% block header %}
		| {% endblock %}
	body
		| {% block modal %}
		| {% endblock %}

		| {% block navigation_header %}
		| {% include "_navbar.html" %}
		| {% endblock navigation_header %}

		| {% for message in messages %}
		.alert.alert-info(class="{{ message.tags }}")
			.container
				| {{ message }}
				button.close(type='button', data-dismiss='alert')
					| Close
		| {% endfor %}

		.container-main
			| {% block page_header %}
			| {% block jumbotron %}
			.featured
				.container
					.featured-content
						h1 Blender ID
				.featured-overlay
			| {% endblock jumbotron %}

			| {% block navbar_secondary %}
			| {% if user.is_authenticated %}
			nav.navbar.navbar-default.navbar-secondary.mb-4(role='navigation')
				.container
					ul.nav.navbar-nav.mr-auto
						li(class="{% if page_id == 'about' %}active{% endif %}")
							a(href="{% url 'bid_main:about' %}") About

						| {% if user.is_staff %}
						li
							a(href="{% url 'admin:index' %}")
								| Whoosh!
						| {% endif %}

						li
							a(href="{{ settings.LOGOUT_URL }}")
								| Log out
			| {% endif %}
			| {% endblock navbar_secondary %}

			| {% block nav_thirdlevel %}{% endblock %}
			| {% endblock page_header %}

			| {% if user and user.must_pp_agree %}
			| {% block privacy_policy_banner %}
			.privacy-policy-must-agree.bid.box
				h1 Our Privacy Policy Changed
				p
					| In order to continue using Blender ID, please accept #[a(href="{% url 'bid_main:privacy_policy_agree' %}") our new privacy policy].
			| {% endblock %}
			| {% endif %}

			.container
				.row
					| {% if user.is_authenticated %}
					.col-md-3
						| {% block sidebar %}
						.sidebar-nav
							ul
								li(class="{% if page_id == 'index' %}active{% endif %}")
									a(href="{% url 'bid_main:index' %}")
										i.icon
											svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 496 512")
												path(d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z")
										| My Blender ID

								//- li
								//- 	// TODO - Badges URL
								//- 	a(href="XXX")
								//- 		i.icon(style="position: relative; top: 2px")
								//- 			svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 64 64')
								//- 				circle(cx='32', cy='22', r='9')
								//- 				path(d='M53.4,18.4l-1.7-2.2c-0.3-0.4-0.4-0.8-0.4-1.3l0.1-2.7c0.1-2.7-1.8-5.2-4.5-6l-2.4-0.7c-0.5-0.1-0.9-0.4-1.2-0.8l-1.4-2\
								//- 				C40.8,1,38.9,0,36.7,0c-0.8,0-1.5,0.1-2.2,0.4l-2.1,0.8c-0.5,0.2-1,0.2-1.5,0l-2.1-0.8C28.1,0.1,27.3,0,26.5,0\
								//- 				c-2.2,0-4.1,1-5.3,2.8l-1.4,2c-0.3,0.4-0.7,0.7-1.2,0.8l-2.4,0.7c-2.7,0.8-4.6,3.2-4.5,6L12,15c0,0.5-0.1,0.9-0.4,1.3l-1.7,2.2\
								//- 				c-1.7,2.2-1.7,5,0,7.2l1.7,2.2c0.3,0.4,0.4,0.8,0.4,1.3l-0.1,2.7c-0.1,2.7,1.8,5.2,4.5,6l2.4,0.7c0.5,0.1,0.9,0.4,1.2,0.8l1.4,2\
								//- 				c1.2,1.7,3.2,2.8,5.3,2.8c0.8,0,1.5-0.1,2.2-0.4l2.1-0.8c0.5-0.2,1-0.2,1.5,0l2.1,0.8c0.7,0.3,1.5,0.4,2.2,0.4\
								//- 				c2.2,0,4.1-1,5.3-2.8l1.4-2c0.3-0.4,0.7-0.7,1.2-0.8l2.4-0.7c2.7-0.8,4.6-3.2,4.5-6L51.3,29c0-0.5,0.1-0.9,0.4-1.3l1.7-2.2\
								//- 				C55,23.4,55,20.6,53.4,18.4z M32,35c-7.2,0-13-5.8-13-13c0-7.2,5.8-13,13-13s13,5.8,13,13C45,29.2,39.2,35,32,35z')
								//- 				path(d='M24.3,47.5c-2.5-0.6-4.5-2.3-5.9-4.4l0,0c0,0,0,0,0,0L12.5,59c0,0,0,0,0,0l8-2c0,0,0,0,0,0l5,7c0,0,0,0,0,0l6-17.2\
								//- 				l-1.1,0.4C28.5,47.9,26.4,48,24.3,47.5z')
								//- 				path(d='M46.3,41.9l-0.9,1.4c-1.9,2.9-5,4.6-8.4,4.6c-1,0-1.9-0.1-2.8-0.4L40,64l5-7l8,2l-6.3-17.2L46.3,41.9z')

								//- 		| My Badges

								li
									a(href="{{ settings.BLENDER_MYDATA_BASE_URL }}")
										i.icon
											svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512")
												path(d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zm-308-44v-72c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v72c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0V204c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v136c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0V140c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v200c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0V108c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v232c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12z")
										| My Data

								li(class="{% if page_id == 'auth_tokens' %}active{% endif %}")
									a(href="{% url 'bid_main:auth_tokens' %}")
										i.icon
											svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512")
												path(d="M128 116V76c0-8.837 7.163-16 16-16h352c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H144c-8.837 0-16-7.163-16-16zm16 176h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zM16 144h64c8.837 0 16-7.163 16-16V64c0-8.837-7.163-16-16-16H16C7.163 48 0 55.163 0 64v64c0 8.837 7.163 16 16 16zm0 160h64c8.837 0 16-7.163 16-16v-64c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v64c0 8.837 7.163 16 16 16zm0 160h64c8.837 0 16-7.163 16-16v-64c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v64c0 8.837 7.163 16 16 16z")
										| Applications
						| {% endblock sidebar %}
					| {% endif %}

					div(class="{% if user.is_authenticated %}col-md-9{% else %}col-md-8 mx-auto{% endif %}")
						| {% block body %}{% endblock %}

		| {% get_flatpages as flatpages %}
		| {% if flatpages %}
		.footer-pages
			.container
				ul
					| {% for page in flatpages %}
					li
						a(href="{{ page.get_absolute_url }}") {{ page.title }}
					| {% endfor %}
		| {% endif %}

		| {% block footer %}
		| {% include "_footer.html" %}
		| {% endblock footer %}

		script(src="{% static 'assets_vendor/js/jquery.min.js' %}")

		| {% block footer_scripts %}{% endblock %}
