| {% load static from staticfiles %}
doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title {% block page_title %}Home{% endblock %} - Blender ID - blender.org
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='The Blender ID is a unified login system for all services around Blender.')
		meta(name='author', content='Blender Foundation')

		link(href="{% static 'assets/css/main.css' %}", rel='stylesheet')
		link(rel="shortcut icon", href="{% static 'assets_shared/images/favicon.ico' %}")

		| {% block header %}
		| {% endblock %}
	body
		| {% block modal %}
		| {% endblock %}

		| {% block navigation_header %}
		| {% include "_navbar.html" %}
		| {% endblock navigation_header %}

		| {% for message in messages %}
		.alert.alert-info(class="{{ message.tags }}")
			.container
				| {{ message }}
				button.close(type='button', data-dismiss='alert')
					i.fa.fa-times
		| {% endfor %}

		.container-main
			.featured
				.container
					.featured-content
						h1 Blender ID
					| {% if user.is_authenticated %}
					header.navbar.navbar-default.navbar-secondary(role="navigation")
						.container
							ul.nav.navbar-nav
								li(class="{% if page_id == 'index' %}active{% endif %}")
									a(href="{% url 'bid_main:index' %}") Dashboard

								li(class="{% if page_id == 'auth_tokens' %}active{% endif %}")
									a(href="{% url 'bid_main:auth_tokens' %}") Access

								li(class="{% if page_id == 'about' %}active{% endif %}")
									a(href="{% url 'bid_main:about' %}") About Blender ID

								| {% if user.is_staff %}
								li
									a(href="{% url 'admin:index' %}")
										i.fa.fa-rocket
										| Whoosh!
								| {% endif %}

								li
									a(href="{{ settings.LOGOUT_URL }}")
										i.fa.fa-power-off
										| Log out
					| {% endif %}

					| {% block nav_thirdlevel %}{% endblock %}

				.featured-overlay

			| {% if user and user.must_pp_agree %}
			| {% block privacy_policy_banner %}
			.privacy-policy-must-agree.bid.box
				h1 Our Privacy Policy Changed
				p
					| In order to continue using Blender ID, please accept #[a(href="{% url 'bid_main:privacy_policy_agree' %}") our new privacy policy].
			| {% endblock %}
			| {% endif %}

			| {% block body %}{% endblock %}

		| {% block footer %}
		| {% include "_footer.html" %}
		| {% endblock footer %}

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

		| {% block footer_scripts %}{% endblock %}

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{config.GOOGLE_ANALYTICS_TRACKING_ID}}', '{{config.GOOGLE_ANALYTICS_DOMAIN}}');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
