*.pyc
__pycache__
db.sqlite3
/node_modules/
/templates/
/media/
/static/
/webstatic/assets/
/blenderid/settings.py
/bid_api/tests/media/cache/
.cache
.coverage
/.venv/
.pytest_cache
/docs/site/
/docker/staging/
