[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = {version = "<2.0", extras = ["bcrypt"]}  # until we upgrade to 2.1 or newer
django-braces = "*"
django-debug-toolbar = "*"
django-oauth-toolkit = "<1.2.0"  # 1.2.0 has Django 2.0 as minimum requirement
"django-gravatar2" = "*"
django-loginas = "*"
mysqlclient = "*"
python-dateutil = "*"
pytz = "*"
raven = "*"
bcrypt = "*"
requests = "*"
Markdown = "*"
Pillow = "*"
docutils = "*"
sorl-thumbnail = "*"
"django-admin-select2" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
responses = "*"

[requires]
python_version = "3.6"
