| {% extends 'layout.html' %}
| {% block page_title %}Confirm your e-mail address{% endblock %}

| {% block body %}
.bid.box
	i.backicon.fa.fa-envelope
	| {% block confirm_email_body %}{% endblock %}
| {% endblock %}
