| {% extends 'bid_main/confirm_email/base.html' %}

| {% block confirm_email_body %}
|     {% block confirm_email_above_form %}{% endblock %}

p.text-primary.
	Is your address {{ user.email_to_confirm }}?

form(action="{% url 'bid_main:confirm-email' %}", method='POST')
	| {% csrf_token %}
	| {{ form.next_url }}
	| {{ form.next_name }}
	.bid-cta
		a.btn(href="javascript:cancel()")
			i.fa.fa-times
			| {% if user.email_change_preconfirm %}
			| Cancel Email Change
			| {% else %}
			| Edit address
			| {% endif %}
		button.btn.btn-success(type='submit')
			i.fa.fa-check
			| Yes that is correct

form#cancel_email_change(action="{% url 'bid_main:cancel-email-change' %}", method='POST')
	| {% csrf_token %}
| {% endblock %}

| {% block footer_scripts %}
script.
	function cancel() {
		{% if user.email_change_preconfirm %}
		$('#cancel_email_change').submit();
		{% else %}
		window.location = "{% url 'bid_main:index' %}";
		{% endif %}
	}
| {% endblock %}
