| {% extends 'bid_main/confirm_email/form.html' %}

| {% block confirm_email_above_form %}
h1 Confirm your email address

p.
	Before you can log in at #[strong {{ next_name }}] with your Blender ID, we have to verify your
	email address.

p.
	Your email address is used to regain access to your account when you forget or reset your
	password. By confirming your email address, we can ensure this account actually belongs to you.

| {% endblock %}
