| {% extends 'bid_main/confirm_email/base.html' %}

| {% block confirm_email_body %}
h1 Address Confirmed

p Congratulations, you have successfully confirmed your email address.

p
    a.btn.btn-success(href="{{ next_url }}")
        i.fa.fa-arrow-right
        | Go to {{ next_name }}
| {% endblock %}
