| {% extends 'bid_main/confirm_email/base.html' %}
| {% load staticfiles %}
| {% block header %}
| {{ super }}
script(src="{% static 'assets_vendor/js/js.cookie.min.js' %}")
script(src="{% static 'assets/js/notifications.min.js' %}")
| {% endblock %}

| {% block confirm_email_body %}
h1 Welcome back

p.hide-after-post We are storing your confirmed email, please wait. If nothing happens for more than 5 seconds, press the button below.

#result

p.hide-after-post
	button.enable-after-delay.btn(disabled)
		i.fa.fa-retweet
		| Retry

p.show-after-ok(style='display: none') Congratulations, you have successfully confirmed your email address.

p.show-after-ok(style='display: none')
	a.btn.btn-success(href="{{ next_url }}")
		i.fa.fa-arrow-right
		| Go to {{ next_name }}
| {% endblock %}

| {% block footer_scripts %}
script.
	var csrftoken = Cookies.get('csrftoken');

	function enable_button() {
		$('.enable-after-delay').removeAttr('disabled', '').on('click', do_post);
	}
	window.setTimeout(enable_button, 1500);

	function do_post() {
		$('#result').html('');

		$.ajax({
			type: "POST",
			url: window.location.href,
			data: {
				csrfmiddlewaretoken: csrftoken
			},
		})
		.done(function() {
			$('.hide-after-post').hide();
			$('.show-after-ok').show();
		})
		.fail(function(err) {
			var $p = $('<p>')
				.addClass('text-danger')
				.text(xhrErrorResponseMessage(err));
			$('#result').html($p);
			if (err.responseJSON.reload === true) {
				// The verification failed, just reload to see it rendered on the GET request.
				window.location.reload();
			}
		})
		;
	}
	do_post();
| {% endblock %}
