| {% extends 'bid_main/confirm_email/form.html' %}

| {% block confirm_email_above_form %}
h1.text-danger Invalid Request

p Somehow there was a mismatch between the link we sent and the link you visited just now.
p Let's try it again.
| {% endblock %}
