mixin badge
	| {% if badge.badge_img %}
	img(src="{{ badge.badge_img.url }}",
		width="{{ badge.badge_img_width }}",
		height="{{ badge.badge_img_height }}",
		class="img-responsive",
		alt="{{ badge.description }}")
	br
	| {% endif %}
	span.badge-label {{ badge.label }}

li.badge(class="{{ badge.name }}{% if badge.id in private_badge_ids %} private{% endif %}", title="{{ badge.description }}")
	| {% if badge.link %}
	a(href="{{ badge.link }}", target="_blank")
		+badge
	| {% else %}
	span.nolink
		+badge
	| {% endif %}

	span.badge-privacy-toggle
		='Show in Public? '
		<input id="id_private_{{ badge.name }}" data-badge-name="{{ badge.name }}" type="checkbox" data-on="Yes" data-off="No" data-onstyle="toggle-on" data-size="mini" data-width="40" data-height="20" data-toggle="toggle" {% if badge.id not in private_badge_ids %}checked="checked"{% endif %}>
