| {% extends 'layout.html' %}
| {% load trans from i18n %}
| {% block page_title %}Registration{% endblock %}
| {% block body %}
.bid.box
	.row
		.col-md-8.mx-auto
			| {% if validlink %}
			h1 Choose Your Password

			p.
				Please enter your new password twice so we can verify you typed it in correctly

			form(method='POST')
				| {% csrf_token %}
				fieldset
					.row
						.col-md-12

							// new_password1 input
							label.control-label(for="{{ form.new_password1.id_for_label }}") Password
							| {{ form.new_password1 }}
							| {{ form.new_password1.errors }}

							// new_password2 input
							label.control-label(for="{{ form.new_password2.id_for_label }}") Confirm Password
							| {{ form.new_password2 }}
							| {{ form.new_password2.errors }}

							.bid-cta
								button.btn.btn-success#setpassword Set Password
								a.btn(href="{% url 'bid_main:login' %}")
									| Cancel
			| {% else %}
			h1 Invalid Link
			p The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
			| {% endif %}

| {% endblock %}
