| {% extends 'layout.html' %}
| {% load i18n %}
| {% block page_title %}Your Password -- Blender ID{% endblock %}
| {% block body %}
.container
	.row
		.col-md-8.mx-auto
			.bid.box
				.row
					.col-md-8.mx-auto

						h1 Because change is good

						hr

						p {% trans 'Your password was changed.' %}

						hr

						.bid-cta
							a.btn(href="{% url 'bid_main:index' %}")
								| Back to My Blender ID

| {% endblock %}
