| {% extends "email_layout.html" %}
| {% block body %}
h1 Your Blender ID email changed

p Hi {{ user.full_name|default:user.email }}!

p.
    Somebody, maybe it was you, changed your email address on
    #[a(href='{{ blender_id }}') Blender ID], from
    #[strong {{ old_email }}] to #[strong {{ user.email }}].

p.
    This notification is sent to both your old and your new email addresses. If you did not receive
    it at your new address, please verify that your address is correct.

p.
    If this change was not your intent, or you made a mistake, please log in with {{ user.email }}
    and your current password at #[a(href='{{ blender_id }}') Blender ID] and you'll be able to
    change it back. You can always contact us at
    #[a(href='mailto:cloudsupport@blender.org') cloudsupport@blender.org] about this as well.

section.about
    h2 About Blender ID

    p.
        Use your new email address ({{ user.email }}) to log in to any Blender ID enabled website,
        such as Blender Cloud, Blender Network, Blender Store, etc.

    p.
        Check your dashboard at #[a(href="{{ blender_id }}") blender.org/id] for more information.

| {% endblock %}
