| {% extends 'layout.html' %}
| {% load static %}
| {% load avatar badges %}

| {% block header %}
link(href="{% static 'assets_vendor/css/bootstrap-toggle.min.css' %}", rel='stylesheet')
| {% endblock %}


| {% block page_title %}
| {% if user.full_name %}
| {{user.full_name}}'s
| {% else %}
| Your
| {% endif %}
| Profile
| {% endblock %}
| {% block body %}

.bid.box
	.bid-user
		| {% if user.full_name %}
		a(href="{% url 'bid_main:profile' %}")
			| {% avatar %}
		| {% endif %}

		.bid-user-info
			h3
				| {{ user.full_name }}
				| {% if not user.full_name %}
				a.name-missing(href="{% url 'bid_main:profile' %}")
					| Please Set Your Name Here
				| {% endif %}
			p {{ user.nickname }}
			| {% if user.email_change_preconfirm %}
			p.bg-warning A change from {{ user.email }} to {{ user.email_change_preconfirm }} is pending.
				br
				a(href="javascript:$('#cancel_email_change').submit()") Cancel this change
				=' or '
				a(href="{% url 'bid_main:confirm-email-change' %}") re-send confirmation email
				='.'
			| {% else %}
			p {{ user.email }}
			| {% endif %}
			| {% if show_confirm_address %}
			p.bg-warning #[a(href="{% url 'bid_main:confirm-email' %}") Confirm your email address] to unleash the full power of Blender ID.
			hr
			| {% endif %}
		form#cancel_email_change(action="{% url 'bid_main:cancel-email-change' %}", method='POST')
			| {% csrf_token %}

	.bid-cta
		a.btn(href="{% url 'bid_main:profile' %}")
			| Edit Profile

	.bid-links
		a(href="{% url 'bid_main:password_change' %}")
			| Change Password

		a(href="{% url 'bid_main:switch_user' %}")
			| Not you? Log in as someone else

		| {% if user.is_staff %}
		a(href="{% url 'admin:bid_main_user_change' user.id %}", style="margin-left: auto")
			| Your Woosh
		| {% endif %}


.bid-roles.container.bid.box
	h3 Your Badges

	| {% with badges=user.all_badges %}
	| {% if badges %}
	ul.badges
		| {% for badge in badges %}
		| {% render_badge badge %}
		| {% endfor %}
	p.
		You have earned {{ badges|length }} badge{{ badges|pluralize }}. If you do not want to show
		those badges on connected websites, you can mark them as private.

	| {% else %}
	p.
		You don't have any badges. You can earn badges in various ways, for example by getting a
		#[a(href='https://cloud.blender.org/') Blender Cloud] subscription, by
		joining the #[a(href='https://blender.fund/') Blender Development Fund], or
		on #[a(href='https://www.blendernetwork.org/') Blender Network].
	| {% endif %}
	| {% endwith %}

.bid-roles.container.bid.box
	h3 Your Blender ID Apps

	ul.list-unstyled
		| {% if 'cloud' in apps %}
		li
			.bid-roles-role
				.bid-roles-role-info
					h4
						a(href="https://cloud.blender.org") Blender Cloud
					ul
						| {% if cloud_needs_renewal %}
						li.link-renew-cloud
							a(href='https://store.blender.org/my-account/subscriptions/') » Renew your Blender Cloud subscription «
						| {% endif %}
						li
							a(href='https://cloud.blender.org/settings/billing') Subscription Details
						li
							a(href='https://cloud.blender.org/settings/emails') Preferences
		| {% endif %}

		li
			.bid-roles-role
				.bid-roles-role-info
					h4
						a(href="https://store.blender.org/") Blender Store
					ul
						li
							a(href='https://store.blender.org/my-account/') Your Store account
						li
							a(href='https://store.blender.org/') Visit the Store

		| {% if 'network' in apps %}
		li
			.bid-roles-role
				.bid-roles-role-info
					h4
						a(href="https://www.blendernetwork.org") Blender Network
					ul
						li
							a(href='https://www.blendernetwork.org/billing/') Subscription Details
						li
							a(href='https://www.blendernetwork.org/profile/edit') Blender Network Profile
		| {% endif %}

		| {% if 'bfct' in apps %}
		li
			.bid-roles-role
				.bid-roles-role-info
					h4
						a(href="https://www.blendernetwork.org/certification/") Blender Foundation Certified Trainer
					ul
						li
							a(href='https://www.blendernetwork.org/certification/') Certification Details

					| {% if 'bfct_board' in user.role_names %}
					hr
					p.
						You are a #[strong BFCT Board Member].
					| {% endif %}
		| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
script(src="{% static 'assets_vendor/js/toastr.min.js' %}")
script(src="{% static 'assets_vendor/js/bootstrap-toggle.min.js' %}")
script(src="{% static 'assets_vendor/js/js.cookie.min.js' %}")
script(src="{% static 'assets/js/notifications.min.js' %}")
script.
	function toggle_badge_privacy(event) {
		let badge_name = event.target.dataset.badgeName;

		$.post("{% url 'bid_main:badge_toggle_private'  %}", {
			csrfmiddlewaretoken: Cookies.get('csrftoken'),
			badge_name: badge_name,
		})
		.fail(function (error) {
			toastr.error(xhrErrorResponseMessage(error), 'Unable to toggle badge privacy');
		})
		.done(function (response) {
			let $badge = $('li.badge.' + badge_name);
			if (response.is_private) {
				$badge.addClass('private');
			} else {
				$badge.removeClass('private');
			}
		})
		;
	}
	$(function() {
		$("input[data-toggle]").bootstrapToggle();
		$("input[type='checkbox'][data-badge-name]").change(toggle_badge_privacy);
	})
| {% endblock %}
