| {% extends 'layout.html' %}
| {% load gravatar %}
| {% load badges %}
| {% block page_title %}
| {% if user.full_name %}
| {{user.full_name}}'s
| {% else %}
| Your
| {% endif %}
| Profile
| {% endblock %}
| {% block body %}
.bid.box
	.bid-header
		ul.bid-icons
			li
				i.bf-blender
		h1 Your Blender ID

	.bid-user
		| {% if user.full_name %}
		a(href="{% url 'bid_main:profile' %}")
			img(
				src='{% gravatar_url user.email 84 %}',
				title='Profile Picture',
				alt="Profile Picture")
		| {% else %}
		a.bid-user-missing(href="{% url 'bid_main:profile' %}")
			i.fa.fa-exclamation
		| {% endif %}
		.bid-user-info
			h3
				| {{ user.full_name }}
				| {% if not user.full_name %}
				a.danger(href="{% url 'bid_main:profile' %}")
					| Please specify your full name
				| {% endif %}
			p {{ user.nickname }}
			| {% if user.email_change_preconfirm %}
			p.bg-warning A change from {{ user.email }} to {{ user.email_change_preconfirm }} is pending.
				br
				a(href="javascript:$('#cancel_email_change').submit()") Cancel this change
				=' or '
				a(href="{% url 'bid_main:confirm-email-change' %}") re-send confirmation email
				='.'
			| {% else %}
			p {{ user.email }}
			| {% endif %}
			| {% if show_confirm_address %}
			p.bg-warning #[a(href="{% url 'bid_main:confirm-email' %}") Confirm your email address] to unleash the full power of Blender ID.
			hr
			| {% endif %}
		form#cancel_email_change(action="{% url 'bid_main:cancel-email-change' %}", method='POST')
			| {% csrf_token %}

	.bid-cta
		a.btn(href="{% url 'bid_main:profile' %}").
			#[i.fa.fa-edit] Edit Profile

		a.btn(href="{% url 'bid_main:password_change' %}").
			#[i.fa.fa-shield] Change Password

		| {% if user.is_staff %}
		a.btn(href="{% url 'admin:bid_main_user_change' user.id %}").
			#[i.fa.fa-rocket] Your Woosh
		| {% endif %}
	hr

	.bid-links
		a(href="{% url 'bid_main:switch_user' %}")
			| Not you? Log in as someone else


.bid-roles.container.bid.box
	h3.text-center Your Badges

	| {% if user.public_badges %}
	ul.badges
		| {% for badge in user.public_badges %}
		| {% render_badge badge %}
		| {% endfor %}
	p You have earned {{ user.public_badges|length }} badge{{ user.public_badges|pluralize }}.
	| {% else %}
	p.
		You don't have any badges. You can earn badges in various ways, for example by getting a
		#[a(href='https://cloud.blender.org/') Blender Cloud] subscription, by
		joining the #[a(href='https://blender.fund/') Blender Development Fund], or
		on #[a(href='https://www.blendernetwork.org/') Blender Network].
	| {% endif %}

.bid-roles.container
	h3.text-center Your Blender ID Apps

	ul
		| {% if 'cloud' in apps %}
		li
			.bid-roles-role
				.bid-roles-role-image
					i.bf-cloud
				.bid-roles-role-info
					a.title(href="https://cloud.blender.org") Blender Cloud
					hr
					ul
						| {% if cloud_needs_renewal %}
						li.link-renew-cloud
							a(href='https://store.blender.org/my-account/subscriptions/') » Renew your Blender Cloud subscription «
						| {% endif %}
						li
							a(href='https://cloud.blender.org/settings/billing') Subscription Details
						li
							a(href='https://cloud.blender.org/settings/emails') Preferences
		| {% endif %}

		li
			.bid-roles-role
				.bid-roles-role-image
					i.fa.fa-shopping-cart(style="font-size: .8em; margin-top: 5px")
				.bid-roles-role-info
					a.title(href="https://store.blender.org/") Blender Store
					hr
					ul
						li
							a(href='https://store.blender.org/my-account/') Your Store account
						li
							a(href='https://store.blender.org/') Visit the Store

		| {% if 'network' in apps %}
		li
			.bid-roles-role
				.bid-roles-role-image
					i.bf-network
				.bid-roles-role-info
					a.title(href="https://www.blendernetwork.org") Blender Network
					hr
					ul
						li
							a(href='https://www.blendernetwork.org/billing/') Subscription Details
						li
							a(href='https://www.blendernetwork.org/profile/edit') Blender Network Profile
		| {% endif %}

		| {% if 'bfct' in apps %}
		li
			.bid-roles-role
				.bid-roles-role-image
					i.fa.fa-graduation-cap(style="font-size: .8em; margin-top: 5px")
				.bid-roles-role-info
					a.title(href="https://www.blendernetwork.org/certification/") Blender Foundation Certified Trainer
					hr
					ul
						li
							a(href='https://www.blendernetwork.org/certification/') Certification Details

					| {% if 'bfct_board' in user.role_names %}
					hr
					p.
						You are a #[em BFCT Board Member].
					| {% endif %}
		| {% endif %}

| {% endblock %}
