| {% extends 'bid_main/about.html' %}
| {% block page_title %}Log in to Blender ID{% endblock %}

| {% block before_about_bid %}
.bid.box.text-center
	| {% if is_oauth_flow %}
	h1 Please sign in to continue to #[span(style='white-space: nowrap') {{ oauth_app.name }}]
	p {{ oauth_app.name }} uses Blender ID to authenticate users.
	| {% else %}
	h1 One Account, Everything Blender
	| {% endif %}
	.row
		.col-md-8.col-md-offset-2
			form(role='login', action='', method='POST')
				| {% csrf_token %}
				fieldset
					// Email input
					.input-group
						| {{ form.username }}

					// Password input
					.input-group
						| {{ form.password }}

					| {% if form.errors %}
					p.text-danger Your username and password didn't match. Please try again.
					p
						a(href="{% url 'bid_main:password_reset' %}") Lost your password?
					| {% endif %}

					.bid-cta
						button.btn-success#register Sign in

				hr

				.bid-links
					a(href="{% url 'bid_main:register' %}")
						| Create a new account
					a(href="{% url 'bid_main:password_reset' %}")
						| Recover password
| {% endblock %}
