| {% extends 'layout.html' %}
| {% load avatar %}
| {% block page_title %}Edit Profile{% endblock %}

| {% block body %}

.bid.box
	h2 Edit Profile

	form(action='', method='POST', enctype="multipart/form-data")
		| {% csrf_token %}
		fieldset
			.row
				.col-md-9

					//- Full name input
					//- TODO: Use HTML5 form validation.
					.form-group(class="{% if not user.full_name %}form-required{% endif %}")
						label.control-label Full Name
						| {{ form.full_name }}
					| {{ form.full_name.errors }}

					//- Email display
					.form-group
						label.control-label Email
						| {{ form.email }}
					| {% if user.email_change_preconfirm %}
					p.help-text A change to {{ user.email_change_preconfirm }} is already pending.
						br
						a(href="javascript:$('#cancel_email_change').submit()") Cancel this change
						=' or '
						a(href="{% url 'bid_main:confirm-email-change' %}") re-send confirmation email
						='.'
					| {% endif %}
					// Nickname input
					.form-group
						label.control-label Nickname
						| {{ form.nickname }}
					| {{ form.nickname.errors }}
					| {{ form.non_field_errors }}

					// Avatar input
					| {% avatar size=128 %}
					.custom-file.my-3
						input#avatar-file-input.custom-file-input(type="file", name="avatar")
						label.custom-file-label Choose file

					.form-check
						input.form-check-input(type="checkbox", name="avatar-clear")
						label.form-check-label Clear Avatar
					| {{ form.avatar.errors }}

			.bid-cta
				button.btn.btn-filled-success(type='submit')
					i.icon
						svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512')
							path(d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
					| Save Changes

				a.btn.ml-auto(href="{% url 'bid_main:index' %}")
					| Discard Changes

			.bid-links
				a(href="{% url 'bid_main:password_change' %}")
					| Change Password

				| {% if user.is_staff %}
				a.ml-auto(href="{% url 'admin:bid_main_user_change' user.id %}") Edit Account in Admin
				| {% endif %}

	form#cancel_email_change(action="{% url 'bid_main:cancel-email-change' %}", method='POST')
		| {% csrf_token %}

| {% endblock %}
