| {% extends 'layout.html' %}
| {% load avatar %}
| {% block page_title %}Switch Blender ID user{% endblock %}
| {% block body %}
.bid.box
	small You are currently logged in as

	.bid-user
		a(href="{% url 'bid_main:index' %}")
			| {% avatar %}
		.bid-user-info
			| {% if user.full_name %}
			a(href="{% url 'bid_main:index' %}")
				h3 {{ user.full_name }}
			p {{ user.email }}
			| {% else %}
			h3
				a.danger(href="{% url 'bid_main:profile' %}")
					| Please specify your full name
			p {{ user.email }}
			| {% endif %}

	hr

	.row
		.col-md-8.mx-auto
			h2 Login as someone else

			br

			form(role='login', action='', method='POST', name='login_user_form')
				| {% csrf_token %}
				input(type='hidden',name='next',value='{{ next }}')
				fieldset
					// Email input
					.input-group
						| {{ form.username }}

					// Password input
					.input-group
						| {{ form.password }}

					| {% if form.errors %}
					p.text-danger Your username and password didn't match. Please try again.
					p
						a(href="{% url 'bid_main:password_reset' %}") Lost your password?
					| {% endif %}

					.bid-cta
						button.btn-success#register Sign in

			hr

			.bid-links
				a(href="{% url 'bid_main:register' %}")
					| Create a new account
				a(href="{% url 'bid_main:password_reset' %}")
					| Recover password

| {% endblock %}
