| {% extends 'layout.html' %}
| {% load trans from i18n %}
| {% load static %}

| {% block page_title %}
| Register your Blender ID
| {% endblock %}

| {% block body %}
.bid.box
	.row
		.col-md-8.mx-auto
			.bid-header
				h1 Get Your Own Blender ID

			form(role='register', action="", method='POST', name='register_user_form')
				| {% csrf_token %}
				fieldset
					// Full name input
					.form-group
						label(for="{{ form.full_name.id_for_label }}") Full Name
						| {{ form.full_name }}
					| {{ form.full_name.errors }}

					// Email input
					.form-group
						label(for="{{ form.email.id_for_label }}") Email
						| {{ form.email }}
					| {{ form.email.errors }}

					// Nickname input
					.form-group
						label(for="{{ form.nickname.id_for_label }}") Nickname
						| {{ form.nickname }}
					| {{ form.nickname.errors }}

					// Privacy Policy checkbox
					.form-group.form-check
						| {{ form.agree_privacy_policy }}
						label(style='display: inline', for='{{ form.agree_privacy_policy.id_for_label }}')
						| I have read and agree to the #[a(href='/privacy-policy', target='_blank') Privacy Policy].
					| {{ form.agree_privacy_policy.errors }}

					p We will send you an email with instructions to set a password.

					| {{ form.non_field_errors }}
				.bid-cta
					button.btn.btn-success#register
						i.icon
							svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512')
								path(d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z')
						| Create Account

				hr

				.bid-links
					a(href="{% url 'bid_main:login' %}")
						| Already have an account?

| {% endblock %}
